<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-mQ93M2j0jlVdB+3HCI0jdkwHq5ra49Jr0O3NKjNtWt1kcMFL8yHg32PaYY8v+fpp" crossorigin="anonymous">

<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PROYECTO1</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menu</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="">
          Principal
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/listado">
          Listado de usuarios
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/crear usuario">
          Crear usuario
        </a>
      </li>
    </ul>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AGiA2QVfOhtZnC3zDyM6FNrIblx3r2z9BbiAoWjR1WXJpv36FO6EZyztIW5y0" crossorigin="anonymous"></script>

  
  
  
  